# 1 Creating, reading & writing

In [1]:
import pandas as pd

## DataFrame

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

## Series

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series([30, 35, 40], 
           index=['2015 Sales', '2016 Sales', '2017 Sales'],
           name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [7]:
# open and indexing df
reviews = pd.read_csv("/home/gluecksman/src/Data_and_ML/pandas/winemag-data-130k-v2.csv", index_col=0)

# saving df to something
reviews.to_csv("just_a_fancy_test_name.csv")

# 2 Indexing, selecting & assigning

In [22]:
# to remember
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

In [8]:
reviews.country
# same as 
reviews['country']


# further, we can do this:
reviews['country'][0] # selects 1st
reviews['country'][0:10] # selects from 1st - 10th

0       Italy
1    Portugal
2          US
3          US
4          US
5       Spain
6       Italy
7      France
8     Germany
9      France
Name: country, dtype: object

### index-based selection
first element of the range is included and the last one excluded

In [9]:
# index-based selection
reviews.iloc[0] # selects all row (and thus, the different columns' values)

# to get a column with iloc
reviews.iloc[:, 0] # selects all the column i= 0

# both below are =
reviews.iloc[:3, 0] # selects from the column i= 0, the 1st, 2nd and 3rd row
reviews.iloc[[0, 1, 2], 0] # the same

reviews.iloc[1:3, 0] # selects, from the column i= 0, JUST 2nd & 3rd entries

reviews.iloc[-5:] # selects last five rows (with all the column's content)

sample_reviews = reviews.iloc[[1, 2, 3, 5, 8], :] # selects the rows 1, 2, 3, 5, 8 entirely (with all the columns)

### Label-based selection
indexes inclusively

In [64]:
# label-based selection
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']] # selects rows from the desired columns 

# Manipulating the index
reviews.set_index("title")

# Conditional selection
reviews.country == 'Italy' #  produced a Series of True/False booleans based on the country of each record

reviews.loc[reviews.country == 'Italy'] # selects rows where column 'country' == 'italy'
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)] # and where the column 'points' ==result > 90
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)] # or (same thing otherwise)

# isin lets you select the data whose value "is in" a list of values
reviews.loc[reviews.country.isin(['Italy', 'France'])]

# isnull/notnull
reviews.loc[reviews.price.notnull()] # selects rows that are non-null/non-NaN in the 'price' column
reviews.loc[reviews.price.isnull()] # selects rows that are null/NaN in the 'price' column

# assigning data to a df
reviews['critic'] = 'everyone'
reviews['index_backwards'] = range(len(reviews), 0, -1) # "-1" means backwards otherwise the range is not working

# 3 Summary functions & Maps

In [43]:
# to remember
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

In [19]:
# description (of a column)
reviews.taster_name.describe()
reviews.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [44]:
# mean & median (of a column)
reviews.points.mean()
reviews.points.median()

88.0

In [18]:
# list unique values (of a column)
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [21]:
#  list of unique values and how often they occur (for a column)
reviews.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

### Maps
All of the standard Python operators (>, <, ==, and so on) are faster than map() or apply() because they uses speed ups built into pandas. However, they are not as flexible as map() or apply(), which can do more advanced things, like applying conditional logic.


In the examples below map() and apply() method are doing the same thing

In [25]:
# to remember
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

In [26]:
# map (returns a new transformed Series)
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean) # returns a new transformed Series. Does not modify the original data it is called on

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [80]:
# apply (returns a new transformed Dataframe)
# (if big dataframe, takes time)
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns') # returns a new transformed Dataframe. Does not modify the original data it is called on

# but here for the print only:
remean_points_df = reviews.apply(remean_points, axis='columns')
remean_points_df.head(2) # test

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

In [31]:
# check that the orginal dataframe was not modified by either map or apply method:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

In [36]:
# an easier way to do the above code
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

In [41]:
# operators (do not modified original dataframe if just used by themselves)
reviews.country + " - " + reviews.region_1

0                     Italy - Etna
1                              NaN
2           US - Willamette Valley
3         US - Lake Michigan Shore
4           US - Willamette Valley
                    ...
129966                         NaN
129967                 US - Oregon
129968             France - Alsace
129969             France - Alsace
129970             France - Alsace
Length: 129971, dtype: object

In [42]:
# check that the orginal dataframe was not modified by the operators:
reviews.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970

##### Exercices from Kaggle

1/ Which wine is the "best bargain"? Create a variable bargain_wine with the title of the wine with the highest points-to-price ratio in the dataset

In [79]:
bargain_idx = (reviews.points / reviews.price).idxmax() # idxmax = index of max value
bargain_wine = reviews.loc[bargain_idx, 'title']
bargain_wine # test

'Bandit NV Merlot (California)'

2/ "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the `description` column in the dataset

In [82]:
nb_trop = reviews.description.map(lambda description: "tropical" in description).sum()
nb_fruit = reviews.description.map(lambda description: "fruity" in description).sum()

descriptor_counts = pd.Series([nb_trop,nb_fruit]
                             , index=['tropical', 'fruity'])
descriptor_counts # test

tropical    3607
fruity      9090
dtype: int64

3/ A score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars. Any other score is 1 star. But any wines from Canada should automatically get 3 stars, regardless of points (mafia).

In [94]:
def star_attibuter(row):
    if row['country'] == "Canada":
        return 3
    elif row.points >= 95:
        return 3
    elif row.points >= 85 & row.points < 95:
        return 2
    else:
        return 1

star_ratings = reviews.apply(star_attibuter, axis='columns') # type = Series
star_ratings # test

0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Length: 129971, dtype: int64

# 4 Grouping and Sorting

### Groupwise analysis

In [104]:
reviews.head(1) # to remember

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971

In [127]:
reviews.points.value_counts() # is sorted already

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [140]:
reviews.groupby('points').count().head(10)

,country,description,designation,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
points,,,,,,,,,,,,,,
80,397,397,250,395,397,328,136,275,271,397,397,397,397,397
81,692,692,406,680,692,584,293,433,423,692,692,692,692,692
82,1835,1836,1087,1772,1835,1556,907,1054,1012,1836,1836,1836,1836,1836
83,3024,3025,1844,2886,3024,2503,1142,2112,2021,3025,3025,3025,3025,3025
84,6478,6480,3943,6099,6478,5320,2375,4395,4196,6480,6480,6480,6480,6480
85,9529,9530,5980,8902,9529,7722,3308,7133,6729,9530,9530,9530,9530,9530
86,12595,12600,8246,11745,12595,10361,4467,9580,9006,12600,12600,12600,12600,12600
87,16927,16933,11286,15767,16927,14293,6102,12871,12065,16933,16933,16933,16933,16933
88,17198,17207,11831,16014,17198,14503,6538,14356,13626,17207,17206,17207,17207,17207
89,12208,12226,8920,11324,12208,9998,4095,10660,10056,12226,12226,12226,12226,12226

In [142]:
reviews.groupby('points').price.count()

points
80       395
81       680
82      1772
83      2886
84      6099
85      8902
86     11745
87     15767
88     16014
89     11324
90     14361
91     10564
92      8871
93      5935
94      3449
95      1406
96       482
97       207
98        69
99        28
100       19
Name: price, dtype: int64

In [103]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

In [105]:
reviews.head(1) # to remember

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,129971

In [145]:
# name of wines reviewed from each winery in the dataset
reviews.groupby('winery').apply(lambda df: df.title)

winery
1+1=3     20319                        1+1=3 NV Rosé Sparkling (Cava)
          33657     1+1=3 NV Cygnus Brut Nature Reserva Made With ...
          55163                        1+1=3 NV Brut Sparkling (Cava)
          56109     1+1=3 NV Cygnus Brut Nature Reserva Made With ...
          63807          1+1=3 2008 Rosé Cabernet Sauvignon (Penedès)
                                          ...
àMaurice  124544           àMaurice 2009 Syrah (Columbia Valley (WA))
          128023       àMaurice NV Pour Me Red (Columbia Valley (WA))
Štoka     10290                       Štoka 2009 Izbrani Teran (Kras)
          70504                    Štoka 2011 Grganja Vitovska (Kras)
          70505                       Štoka 2011 Izbrani Teran (Kras)
Name: title, Length: 129971, dtype: object

In [144]:
# selecting the name of the first wine reviewed from each winery in the dataset
reviews.groupby('winery').apply(lambda df: df.title.iloc[0]) # .iloc[0] selects all row

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [158]:
# counts after grouping by country and province:
reviews.groupby(['country', 'province']).count().head(6)

                            description  designation  points  price  region_1  \
country   province
Argentina Mendoza Province         3264         2500    3264   3226      3211
          Other                     536          402     536    530       536
Armenia   Armenia                     2            2       2      2         0
Australia Australia Other           245          144     245    236       245
          New South Wales            85           50      85     85        85
          South Australia          1349         1040    1349   1331      1347

                            region_2  taster_name  taster_twitter_handle  \
country   province
Argentina Mendoza Province         0         3261                   3261
          Other                    0          536                    536
Armenia   Armenia                  0            2                      2
Australia Australia Other          0          196                    196
          New South Wales          0           76                     76
          South Australia          0         1183                   1183

                            title  variety  winery  critic  index_backwards
country   province
Argentina Mendoza Province   3264     3264    3264    3264             3264
          Other               536      536     536     536              536
Armenia   Armenia               2        2       2       2                2
Australia Australia Other     245      245     245     245              245
          New South Wales      85       85      85      85               85
          South Australia    1349     1349    1349    1349             1349

In [169]:
#  pick out the best wine by country and province
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()]).head(6) # df.points.idxmax() = index ; 
                                                                                      # thus : df.loc[df.points.idxmax()] = df.loc[index]

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
          South Australia   Australia

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
          South Australia   This inky, embryonic wine deserves to be cella...

                                   designation  points  price  \
country   province
Argentina Mendoza Province    Nicasia Vineyard      97  120.0
          Other                        Reserva      95   90.0
Armenia   Armenia               Estate Bottled      88   15.0
Australia Australia Other        Sarah's Blend      93   15.0
          New South Wales   Noble One Bortytis      94   32.0
          South Australia               Grange      99  850.0

                                    province                 region_1  \
country   province
Argentina Mendoza Province  Mendoza Province                  Mendoza
          Other                        Other                    Salta
Armenia   Armenia                    Armenia                      NaN
Australia Australia Other    Australia Other  South Eastern Australia
          New South Wales    New South Wales          New South Wales
          South Australia    South Australia          South Australia

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
          South Australia       NaN     Joe Czerwinski                @JoeCz

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
          South Australia       Penfolds 2010 Grange Shiraz (South Australia)

                              variety                winery    critic  \
country   province
Argentina Mendoza Province     Malbec  Bodega Catena Zapata  everyone
          Other                Malbec                Colomé  everyone
Armenia   Armenia                Rosé              Van Ardi  everyone
Australia Australia Other   Red Blend       Marquis Philips  everyone
          New South Wales    Sémillon            De Bortoli  everyone
          South Australia      Shiraz              Penfolds  everyone

                            index_backwards
country   province
Argentina Mendoza Province            47217
          Other                       51668
Armenia   Armenia                     63825
Australia Australia Other             92089
          New South Wales             44634
          South Australia             73018

In [168]:
reviews.groupby(['country']).price.agg([len, min, max]).head(6)

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0
Brazil                    52.0  10.0    60.0

### Multi-indexes